h2 {
    font-family: "times new roman", serif;
    font-size: 100%;
    color: white;
}

p {
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 0%;
    padding: 2%;
    text-align: left;
    border: medium outset #3f3;
    color: white;
    font-size: 80%;
}

img {
    width: 150px;
    border-radius: 100%;
    border: medium outset #3f3;
}

.head {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 35px;
}

.who {
    margin-left: 5%;
    text-align: center;
}

.page {
    position: absolute;
    width: 100%;
    top: 380px;
}

.tabs {
    display: flex;
    justify-content: center;
}

button {
    margin: 2%;
    background-color: transparent;
    color: #3f3;
    border: medium outset #3f3;
}

button:hover {
    background-color: transparent;
    color: white;
    border: medium outset white;
}

button:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    height: 285%;
    left: -8px;
    top: -8px;    position: absolute;
    position: absolute;
    background-color: #000;
    background-image: // skeuomorphism anyone?
    radial-gradient(rgba(#fff, 0.125), rgba(#fff, 0)), linear-gradient(to bottom, #000, #000 2px, #111 3px);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover, 100% 3px;
    font-family: 'VT323', monospace, sans-serif;
    color: #3f3; // hacker green
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}