<body>
    <div class="head">
        <div class="who">
            <h2>Samuel Weik</h2>
            <img src="/assets/img/profile.jpg" alt="Image">
        </div>
        <p>
            A student in computer science at Missouri University of Science and
            technology. Experience in web development (Frontend & Backend) and
            Object-oriented languages. Currently unemployed, but searching to obtain
            more experience in the field.
        </p>
    </div>
    <div class="page">
        <div class="tabs">
            <button routerLink="/Home" routerLinkActive="active" >Home</button>
            <button routerLink="/About" routerLinkActive="active" >About</button>
            <button routerLink="/Notes" routerLinkActive="active" >Notes</button>
            <button routerLink="/Resume" routerLinkActive="active" >Resume</button>
        </div>
    </div>
</body>