h1 {
    width: 100%;
    text-align: center;
    font-size: 200%;
}

h2 {
    text-decoration: underline;
    padding-left: 10px;
    font-size: 100%;
}

p {
    padding-left: 5px;
    font-size: 100%;
}

.project {
    display: flex;
    justify-content: center;
    width: 100%;
}

.left {
    flex-grow: 2;
    align-self: center;
    text-align: left;
    padding-left: 3%;
}

.middle {
    flex-grow: 5;
    padding-left: 4%;
}

.right {
    text-align: right;
    padding-right: 2%;

    flex-shrink: 10;
}

img {
    width: 60px;
    height: auto;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid black;
}

.container {
    background-color: rgb(233, 233, 233);
    border: medium solid rgb(194, 194, 194);
    border-radius: 20px;
    margin-bottom: 2%;
    text-align: left;
}

.container:hover {
    background-color: rgb(161, 161, 161);
}

.stat {
    width: 20%;
    height: 4%;
    background-color: black;
}

a {
    color: black;
    text-decoration: none;
}