.container {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: transparent;
    top: 435px;
    left: 0px;
    width: 99%;
    border: 1px outset #3f3;
}

.outline {
    margin: 2%;
    width: 99%;
    display: flex;
    justify-content: center;
    background-color: black;
    border: 5px outset #3f3;
    border-radius: 25px;
}

.page {
    background-color: white;
    display: flex;
    width: 100%;
    margin: 2px;
    border-radius: 20px;
    justify-content: center;
}

.rez {
    padding: 4px;
    width: 100%;
    height: 1000px;
}